---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Freelance from "../components/Freelance.astro";
---

<Layout>
    <main>
        <Hero />
        <About />
        <Freelance />
        <Projects />
        <Contact />
    </main>
</Layout>
