---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row lg:-mt-48"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-general text-heading-3 text-accent-700 dark:text-accent-400 lg:text-heading-3">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-black dark:bg-white"></span>
	</div>

	<div class="w-full text-center text-black dark:text-white lg:w-1/2">
		<p class="mb-2 text-body-1">
			I'm a software engineer based out of Golden, CO. I have a passion for learning, building things, and open-source.
            When I'm not coding, I'm usually skiing, climbing, or trail running in the mountains.
		</p>
	</div>
</section>