---
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';

export interface LayoutProps {
	title: string;
}
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth" data-testid="html">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" style="filter: invert(61%) sepia(8%) saturate(790%) hue-rotate(21deg) brightness(89%) contrast(86%)"/>

		<title>{"Cole Burch | Software Engineer"}</title>
	</head>
	<body
		class="mx-auto max-w-screen-xl bg-primary-300 px-5 font-general text-primary-300 dark:bg-secondary-300 dark:text-secondary-300"
	>
		<Navbar />
		<slot />
		<Footer />
		<style is:global>
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>